@use "../helpers" as *;

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  padding-inline: var(--container-padding);
  margin-inline: auto;
}

// Текстовая ссылка, hover — https://www.figma.com/design/1lQxYxZfvOiCg1IrwC4f9X/Web-Comp---Landing--01.09.2026-?node-id=5751-2483
a {
  @include tr;

  color: inherit;

  @include hover {
    color: var(--Orange);
  }
}
