@use "../helpers" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background: var(--bg);
  color: var(--text);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
  }
}
