@use "../helpers" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--Font-Family-Font);
  font-size: var(--Font-Size-Font-Size-XS);
  font-weight: 400;
  line-height: 1.42;
  background: var(--Grey);
  color: var(--Black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
  }
}
