@use "../helpers" as *;
@use "../ui/typography" as *;

// about

.about {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--Gaps-Gap-40);
  padding-block: var(--Gaps-Gap-100);

  @include xs-block {
    grid-template-columns: minmax(0, 1fr);
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
  }

  &__tagline {
    @include tagline-24;

    color: var(--Grey-4);
  }

  &__text {
    @include text-16;
  }

  &__map {
    flex: 1 1 0;
    min-height: 0;

    @include xs-block {
      flex: none;
      aspect-ratio: 355 / 502;
    }
  }

  &__form {
    display: grid;
  }
}
