@use "../helpers" as *;
@use "../ui/typography" as *;

// case-card

.case-card {
  @include tr;

  counter-increment: case;
  display: flex;
  flex-direction: column;
  gap: var(--Gaps-Gap-40);
  border: 1px solid var(--Grey-4);
  border-radius: var(--Radius-Radius-16);
  padding: var(--Gaps-Gap-40);
  color: var(--Black);
  text-decoration: none;
  overflow: hidden;

  @include hover {
    border-color: transparent;
    background: var(--White);
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 863 / 577;
    border: 1px solid var(--Grey-3);
    border-radius: var(--Radius-Radius-10);
    background: var(--Grey-2);
    object-fit: cover;
    object-position: top;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
    color: var(--Black);
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
  }

  &__name {
    @include text-32;

    display: flex;
    gap: var(--Gaps-Gap-24);

    &::before {
      content: counter(case, decimal-leading-zero);
      flex-shrink: 0;
      color: var(--Yellow);
    }
  }

  &__meta {
    @include text-14;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--Gaps-Gap-24);
    border-bottom: 1px solid var(--Grey-4);
    padding-bottom: var(--Gaps-Gap-24);
  }

  &__text {
    @include text-16;

    color: var(--Grey-5);
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-10);
  }

  &__services-title {
    @include text-18;

    color: var(--Grey-5);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--Gaps-Gap-10);
  }
}
