@use "../helpers" as *;
@use "../ui/typography" as *;

// case-featured

.case-featured {
  --case-featured-details: 32.3%;

  counter-increment: case;
  display: grid;
  align-items: start;
  grid-template-columns: minmax(0, 1fr) var(--case-featured-details);
  gap: var(--Gaps-Gap-24);

  @include lg-block {
    --case-featured-details: 49.3%;
  }

  @include md-block {
    --case-featured-details: 36.6%;
  }

  @include sm-block {
    grid-template-columns: minmax(0, 1fr);
  }

  &__media {
    border: 1px solid var(--Grey-4);
    border-radius: var(--Radius-Radius-24);
    overflow: hidden;
  }

  &__video {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
    border: 1px solid var(--Grey-4);
    border-radius: var(--Radius-Radius-24);
    padding: var(--Gaps-Gap-40);

    &::before {
      @include text-32;

      content: counter(case, decimal-leading-zero);
      color: var(--Yellow);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-40);
  }

  &__name {
    @include text-32;
  }

  &__meta {
    @include text-14;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--Gaps-Gap-24);
    border-bottom: 1px solid var(--Grey-4);
    padding-bottom: var(--Gaps-Gap-24);
  }

  &__type {
    text-decoration: none;
  }

  &__text {
    @include text-16;

    color: var(--Grey-5);
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-10);
  }

  &__services-title {
    @include text-18;

    color: var(--Grey-5);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--Gaps-Gap-10);
  }
}
