@use "../helpers" as *;

// faq

.faq {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--Gaps-Gap-24);
  padding-block: var(--Gaps-Gap-100);

  @include sm-block {
    flex-direction: column;
  }

  &__intro {
    flex-shrink: 0;
    width: 644px;

    @include md-block {
      width: 414px;
    }

    @include sm-block {
      width: 100%;
    }
  }

  &__list {
    flex-grow: 1;
    max-width: 820px;

    @include sm-block {
      width: 100%;
      max-width: none;
    }
  }
}
