@use "../helpers" as *;
@use "../ui/typography" as *;

// faq-item

.faq-item {
  interpolate-size: allow-keywords;
  border-bottom: 1px solid var(--Black);
  padding-block: var(--Gaps-Gap-18);

  &::details-content {
    block-size: 0;
    overflow: hidden;
    transition: var(--transition);
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    block-size: auto;
  }

  &__question {
    @include text-24;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--Gaps-Gap-10);
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__icon {
    @include tr;

    position: relative;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--Yellow);

    &::before,
    &::after {
      @include tr;

      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 2.625px;
      background: var(--Black);
      translate: -50% -50%;
    }

    &::before {
      width: 15.75px;
      height: 2.625px;
    }

    &::after {
      width: 2.625px;
      height: 15.75px;
    }
  }

  &[open] &__icon {
    background: var(--Grey-3);

    &::after {
      scale: 1 0;
    }
  }

  &__answer {
    @include text-18;

    margin-top: var(--Gaps-Gap-18);
    border-radius: 12px;
    padding: var(--Gaps-Gap-24);
    background: var(--Grey);
    color: var(--Grey-5);
  }
}
