@use "../helpers" as *;
@use "../ui/typography" as *;

// footer

.footer {
  padding-block: var(--Gaps-Gap-100);
  background: var(--Grey);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-75);

    @include xs-block {
      gap: 40px;
    }
  }

  &__columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--Gaps-Gap-40);

    @include xs-block {
      align-items: stretch;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 164px;

    @include xs-block {
      flex-direction: row;
      align-items: center;
      min-height: 0;
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-10);
  }

  &__menu,
  &__socials-list {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
  }

  &__contact,
  &__menu-link,
  &__social,
  &__policy-link {
    @include text-24;
    @include tr;

    display: block;

    @include hover {
      color: var(--Orange);
    }
  }

  &__totop {
    @include text-24;
    @include tr;

    display: flex;
    align-items: center;
    gap: var(--Gaps-Gap-10);

    @include hover {
      color: var(--Orange);

      .footer__totop-icon {
        background-color: var(--Orange);
      }
    }
  }

  &__totop-icon {
    @include tr;

    flex-shrink: 0;
    width: 80px;
    height: 45px;
    background-color: var(--Yellow);
    mask: url("/upload/images/icons/arrow-up.svg") center / contain no-repeat;
  }

  &__address {
    border-top: 1px solid var(--Grey-4);
    padding-top: var(--Gaps-Gap-40);
  }

  &__address-text {
    @include text-24;

    font-style: normal;
    text-align: right;
  }

  &__watermark {
    display: block;
    width: 100%;
    height: auto;
    margin-top: var(--Gaps-Gap-24);
  }

  &__legal {
    display: flex;
    flex-direction: column;
    gap: var(--Gaps-Gap-24);
    border-top: 1px solid var(--Grey-4);
    padding-top: var(--Gaps-Gap-75);

    @include xs-block {
      padding-top: 40px;
    }
  }

  &__copyright {
    @include text-24;
  }

  &__policy {
    display: flex;
    gap: var(--Gaps-Gap-40);

    @include xs-block {
      order: -1;
      flex-direction: column;
      gap: var(--Gaps-Gap-24);
    }
  }
}
