@use "../helpers" as *;
@use "../ui/typography" as *;

// tag

.tag {
  @include text-16;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Grey-4);
  border-radius: 40px;
  padding: var(--Gaps-Gap-10) var(--Gaps-Gap-18);
  color: var(--Grey-5);
}
